button {
  --min-button-size: 60px;
  min-width: var(--min-button-size);
  min-height: var(--min-button-size);
  border-radius: 10px;
  user-select: none;
}
button:disabled {
  opacity: 0.6;
}
button > img {
  vertical-align: middle;
  pointer-events: none;
}

@media screen and (max-width: 360px) {
  button {
    --min-button-size: 52px;
  }
}
