button {
  --min-size: 60px;
  min-width: var(--min-size);
  min-height: var(--min-size);
  border-radius: 10px;
}
button:disabled {
  opacity: 0.6;
}
button > img {
  vertical-align: middle;
}

@media screen and (max-width: 360px) {
  button {
    --min-size: 52px;
  }
}
