@keyframes easeOutBounce {
  0% {
    transform: translate3d(0, 100vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
  12% {
    transform: translate3d(0, 89.11vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
  24% {
    transform: translate3d(0, 56.44vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
  36% {
    transform: translate3d(0, 1.99vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
  54% {
    transform: translate3d(0, 24.98vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
  74% {
    transform: translate3d(0, 1.63vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
  82% {
    transform: translate3d(0, 6.25vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
  92% {
    transform: translate3d(0, 0.66vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
  96% {
    transform: translate3d(0, 1.54vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
  }
	100% {
		transform: translate3d(0, 0vh, 0) rotate3d(0, 0, 1, var(--pill-rotation));
	}
}

.easeOutBounce {
  animation: 0.5s easeOutBounce backwards;
}
