@keyframes slideIn {
  0% {
    transform: inherit;
  }
  100% {
    transform: translate3d(var(--slideIn-end), 0, 0);
  }
}

.slideIn {
  animation: 0.4s slideIn cubic-bezier(0.77, 0, 0.175, 1) both;
}
