@keyframes slideOut {
  0% {
    transform: translate3d(var(--slideOut-start), 0, 0);
  }
  100% {
    transform: translate3d(var(--slideOut-end), 0, 0);
  }
}

.slideOut {
  animation: 0.4s slideOut cubic-bezier(0.77, 0, 0.175, 1) both;
}
