@font-face {
  font-family: 'Nexa';
  src: url('assets/font/nexa_regular-webfont.woff2') format('woff2'),
       url('assets/font/nexa_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa';
  src: url('assets/font/nexa_bold-webfont.woff2') format('woff2'),
       url('assets/font/nexa_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
