.label-container {
  --label-dragzone: calc(77.5% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  position: absolute;
  display: flex;
  width: 100vw;
  height: 77.5%;
  height: var(--label-dragzone);
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 5;
}
.label-wrapper {
  display: flex;
  height: 100%;
  padding-bottom: 12.5vh;
  padding-bottom: calc(12.5vh + env(safe-area-inset-bottom));
  align-items: center;
  overflow-x: auto;
}
.label-wrapper.locked {
  overflow: hidden;
}

@media screen and (orientation: landscape) {
  .label-wrapper {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
@media screen and (max-height: 700px) and (orientation: landscape) {
  .label-container {
    --label-dragzone: auto;
  }
}
