.storage {
  padding: var(--bottle-padding);
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  transform: rotate(180deg);
}

@supports (padding: max(0px)) {
  .storage {
    padding-bottom: max(var(--bottle-padding), env(safe-area-inset-bottom));
  }
}
