.bottle {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  max-width: var(--max-width);
  max-height: var(--max-height);
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
