.cap {
  --background-color: #fff;
  --cap-height: 20vh;
  --indent-color: #eee;
  --indent-width: 5px;
  --indent-height: 90%;
  --shadow-color: var(--color-muted);
  --shadow-height: 6px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--background-color);
  height: var(--cap-height, 20vh);
  width: 100%;
  position: absolute;
  cursor: pointer;
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 30;
}
.cap::after {
  content: '';
  width: 100%;
  background-color: var(--shadow-color);
  height: var(--shadow-height);
  position: absolute;
  bottom: 0;
}
.cap:active {
  transform: scale3d(1, 1.1, 1) translate3d(0, 6px, 0);
}
.cap.pressed {
  transform: scale3d(1, 1.4, 1) translate3d(0, 14%, 0);
}
.cap.dragged {
  transform: rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
.cap-indent {
  background-color: var(--indent-color, #eee);
  width: var(--indent-width);
  height: var(--indent-height);
  pointer-events: none;
}

@media screen and (orientation: landscape) {
  .cap {
    --cap-height: 20vw;
  }
}

@supports (height: env(safe-area-inset-top)) {
  .cap {
    --cap-height: calc(20vh + env(safe-area-inset-top));
  }

  @media screen and (orientation: landscape) {
    .cap {
      --cap-height: calc(20vw + env(safe-area-inset-top));
    }
  }
}
