.cap {
  --background-color: #fff;
  --cap-height: calc(20vh + env(safe-area-inset-top));
  --indent-color: #eee;
  --indent-width: 5px;
  --indent-height: 90%;
  --shadow-color: #dba400;
  --shadow-height: 6px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--background-color);
  height: var(--cap-height);
  width: 100%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  transform-origin: bottom right;
  transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
.cap::after {
  content: '';
  width: 100%;
  background-color: var(--shadow-color);
  height: var(--shadow-height);
  position: absolute;
  bottom: 0;
}
.cap:hover {
  transform: scaleY(1.1) translateY(5px);
}
.cap.pressed {
  transform: scaleY(1.4) translateY(14%);
}
.cap.dragging {
  --cap-translate: 0;
  transform: rotate(var(--cap-rotate)) scaleY(1.4) translateY(var(--cap-translate));
}
.cap.dragged {
  transform: rotate(45deg) translateY(-100%);
}
.cap-indent {
  background-color: var(--indent-color);
  width: var(--indent-width);
  height: var(--indent-height);
  pointer-events: none;
}

@media screen and (orientation: landscape) {
  .cap {
    --cap-height: 20vw;
  }
}
