.cap {
  --background-color: #fff;
  --cap-height: calc(20vh + env(safe-area-inset-top));
  --indent-color: #eee;
  --indent-width: 5px;
  --indent-height: 90%;
  --shadow-color: var(--color-muted);
  --shadow-height: 6px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--background-color);
  height: var(--cap-height, 20vh);
  width: 100%;
  position: absolute;
  cursor: pointer;
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 30;
}
.cap::after {
  content: '';
  width: 100%;
  background-color: var(--shadow-color, #dba400);
  height: var(--shadow-height, 6px);
  position: absolute;
  bottom: 0;
}
.cap:active {
  transform: scaleY(1.1) translateY(6px);
}
.cap.pressed {
  transform: scaleY(1.4) translateY(14%);
}
.cap.dragging {
  transform: rotate(var(--cap-rotate)) scaleY(1.4) translateY(var(--cap-translate));
}
.cap.dragged {
  transform: rotate(45deg) translateY(-100%);
}
.cap-indent {
  background-color: var(--indent-color, #eee);
  width: var(--indent-width, 5px);
  height: var(--indent-height, 90%);
  pointer-events: none;
}

@media screen and (orientation: landscape) {
  .cap {
    --cap-height: 20vw;
  }
}
