.capunder {
  display: flex;
  justify-content: center;
  margin: 10% 10px 6.4% 10px;
}
.capunder button {
  height: var(--min-button-size);
}
.capunder-close, .capunder-action {
  margin: 0 10px;
}
.capunder-close {
  background-color: var(--color-normal);
  color: #fff;
}
.capunder-action {
  display: flex;
  width: 100%;
  flex-flow: column;
}
.capunder-take, .capunder-refill {
  --button-width: 100%;
  width: var(--button-width);
  font-size: var(--font-size);
  font-weight: bold;
}
.capunder-take {
  background-color: #fff;
  color: var(--color-normal);
}
.capunder-refill {
  background-color: var(--color-normal);
  color: #fff;
}

@media screen and (max-width: 360px) {
  .capunder {
    margin: 8% 10px 6.4% 10px;
  }
}
@media screen and (orientation: landscape) {
  .capunder {
    margin: 6.4% 10px;
  }
}
