.pill {
  --pill-size: calc(100vw / 5 - var(--bottle-padding));
  --background-color: rgba(255, 255, 255, 0.8);
  --indent-weight: 5px;
  --indent-width: 65%;
  --indent-color: #c19100;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: var(--pill-size);
  height: var(--pill-size);
  border-radius: 50%;
  margin: 2px;
}
.pill::before {
  content: '';
  width: calc(var(--indent-width) / 1.06);
  height: calc(var(--indent-weight) / 1.5);
  border-bottom-left-radius: calc(var(--indent-weight) / 4);
  border-bottom-right-radius: calc(var(--indent-weight) / 4);
  background-color: #fff;
}
.pill::after {
  content: '';
  width: var(--indent-width);
  height: var(--indent-weight);
  border-radius: calc(var(--indent-weight) / 2);
  background-color: var(--indent-color);
}

@media screen and (min-width: 500px) {
  .pill {
    --pill-size: calc(var(--max-width) / 5 - var(--bottle-padding));
  }
}
