.pill {
  --pill-size: calc(20vw - var(--bottle-padding));
  /* --background-color: #fff6da; */
  /* --background-color: #fff2cc; */
  --background-color: #ffedb7;
  --indent-weight: 5px;
  --indent-width: 65%;
  /* --indent-color: #c19100; */
  --indent-color: #c79600;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: var(--pill-size);
  height: var(--pill-size);
  border-radius: 50%;
  margin: 2px;
  transform: rotate(var(--pill-rotation));
  transition: transform 0.3s cubic-bezier(.27,-0.07,1,.03);
}
.pill.withdrawn {
  transform: translateY(100vh) rotate3d(1, 0, var(--z-rotation), 90deg);
}
.pill::before {
  content: '';
  width: var(--indent-width);
  height: var(--indent-weight);
  border-radius: calc(var(--indent-weight) / 2);
  background-color: var(--indent-color);
}
.pill::after {
  content: '';
  width: calc(var(--indent-width) / 1.06);
  height: calc(var(--indent-weight) / 1.5);
  border-top-left-radius: calc(var(--indent-weight) / 4);
  border-top-right-radius: calc(var(--indent-weight) / 4);
  background-color: #fff8e5;
}

@media screen and (orientation: landscape) {
  .pill {
    --pill-size: calc(20vh - var(--bottle-padding));
  }
}
